:host {
  background-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: block;
  font-size: var(--lumo-font-size-m);
  height: 100%;
  overflow: auto;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}

vaadin-grid-pro img {
  border-radius: 50%;

  height: var(--lumo-size-m);
  width: var(--lumo-size-m);
  object-fit: cover;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
}
vaadin-board {
  margin: 0 auto;
  width: auto;
}
.wrapper {
  display: flex;
  padding: var(--lumo-space-s);
}
.card {
  align-items: baseline;
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.space-m {
  padding: var(--lumo-space-m);
}
vaadin-chart {
  padding-top: var(--lumo-space-s);
}
.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,
.highcharts-tooltip .highcharts-color-0 {
  fill: #90ed7d;
}
.highcharts-tooltip.highcharts-color-0,
.highcharts-data-label-connector.highcharts-color-0 {
  stroke: #90ed7d;
}
.highcharts-point.highcharts-color-1,
.highcharts-legend-item.highcharts-color-1 .highcharts-point,
.highcharts-tooltip .highcharts-color-1 {
  fill: #FFF700;
}
.highcharts-tooltip.highcharts-color-1,
.highcharts-data-label-connector.highcharts-color-1 {
  stroke: #FFF700;
}

.highcharts-point.highcharts-color-2,
.highcharts-legend-item.highcharts-color-2 .highcharts-point,
.highcharts-tooltip .highcharts-color-2 {
  fill: #FF0000;
}
.highcharts-tooltip.highcharts-color-2,
.highcharts-data-label-connector.highcharts-color-2 {
  stroke: #FF0000;
}
